* {
    box-sizing: border-box;
  }

  :root {
      --heading-color: #5E60CE;
      --content-background: #4EA8DE;
      --heading-background: #56CFE1;
      --hover-text: #64DFDF;
      --hover-background: #6930C3;
      --border-color: #80FFDB;
  }

body {
    background-color: var(--content-background);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.header {
    background-image: linear-gradient(to bottom right, var(--content-background),var(--border-color));
    font-size: 30px;
    padding: 0px 30px;
    text-align: left;
    color: var(--heading-color);
    text-shadow: 2px 2px 5px var(--content-background);
}

.topnav {
    background-color: var(--heading-color);
    font-size: 18px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    color: var(--heading-background);
}

.topnav h2 {
    text-shadow: 2px 2px 5px var(--hover-background);
}

.topnav h2:hover {
    text-shadow: 1px 1px 2px var(--hover-background);
}

.content h2 {
    padding: 20px 80px 10px 15px;
    color: var(--heading-color);
    font-size: 35px;
    width: 25%;
    text-shadow: 1px 1px 10px var(--border-color);
}

.content img {
    border-radius: 20px;
    border: 2px solid var(--border-color);
    padding: 2px;
    box-shadow: 1px 1px 15px var(--border-color);
}

#about-me {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-me img {
    width: 25%;
    max-width: 400px;
}


#about-me p {
    margin: 15px 15px 5px 20px;
    padding: 50px 15px 20px 15px;
    background-image: linear-gradient(to bottom right, var(--heading-background),var(--border-color),var(--heading-background));
    width: 50%;
    font-size: 26px;
    text-align: center;
    color: var(--heading-color);
    text-shadow: 1px 1px 2px var(--heading-background);
    line-height: 1.4;
    border-radius: 20px;
    border: 2px solid var(--heading-color);
    box-shadow: 2px 2px 15px var(--heading-color);
}

#my-work {
    padding-top: 20px;
    display: flex;
    flex-direction: row; 
}

#my-work button {
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.big-pic {
    padding: 45px 5px 5px 5px;
    position: relative;
    width: 40%;
}

.big-pic img {
    max-height: 600px;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.big-pic-button, .cape-cod button, .lake-louise button, .purple-flower button  {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

.big-pic:hover img {
    opacity: 0.3;
  }

.big-pic:hover .big-pic-button {
    opacity: 1;
  }
  
.big-pic-button, .small-pic button {
    background-color: var(--hover-background);
    color: var(--hover-text);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 16px 32px;
  }

.cape-cod, .lake-louise, .purple-flower {
    padding: 5px 0px 5px 50px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    position: relative;
    width: 50%;
}

.small-pic img {
    max-height: 350px;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cape-cod:hover img{
    opacity: 0.3;
  }

.cape-cod:hover button {
    opacity: 1;
  }

.lake-louise:hover img{
    opacity: 0.3;
  }  

.lake-louise:hover button {
    opacity: 1;
  }

.purple-flower:hover img{
    opacity: 0.3;
  } 

.purple-flower:hover button {
    opacity: 1;
  }

.small-pic button {
    font-size: 16px;
    padding: 10px;
}

#contact-me {
    background-color: var(--heading-color);
    display: flex;
    flex-direction: row;
}

#contact-me h2 {
    color: var(--heading-background);
    text-shadow: 1px 1px 15px var(--content-background);
}

#contact-me ul {
    list-style-type: none;
    width: 90%;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}

#contact-me ul li, #contact-me a {
    font-size: 22px;
    font-weight: bold;
    color: var(--heading-background);
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .topnav, #about-me, #my-work, #contact-me, #contact-me ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .content h2, #about-me img, .big-pic, .small-pic, #contact-me a {
        width: 100%;
        padding: 15px;
    }

    .header, #about-me, #about-me p, #my-work, #contact-me, #contact-me ul {
        text-align: center;
        width: 100%;
        padding: 15px;
    }
    .big-pic img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}