* {
    box-sizing: border-box;
  }

  :root {
      --heading-color: #5E60CE;
      --content-background: #4EA8DE;
      --heading-background: #56CFE1;
      --hover-text: #64DFDF;
      --hover-background: #6930C3;
  }

body {
    background-color: var(--content-background);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.header {
    background-color: var(--heading-background);
    font-size: 30px;
    padding: 0px 30px;
    text-align: left;
    color: var(--heading-color);
}

.topnav {
    background-color: var(--heading-color);
    font-size: 18px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    color: var(--heading-background);
}

.content h2 {
    padding: 20px 80px 10px 15px;
    color: var(--heading-color);
    font-size: 35px;
    width: 25%;
}

#about-me {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-me img {
    width: 25%;
    max-width: 400px;
    padding-top: 45px;
}

#about-me p {
    padding: 60px 15px 5px 20px;
    width: 50%;
    font-size: 28px;
    color: var(--heading-color);
    line-height: 1.4;
}

#my-work {
    padding-top: 20px;
    display: flex;
    flex-direction: row; 
}

.big-pic {
    padding: 45px 5px 5px 5px;
    position: relative;
    width: 50%;
}

.big-pic img {
    max-height: 540px;
    padding: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.big-pic-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

.big-pic:hover img {
    opacity: 0.3;
  }

.big-pic:hover .big-pic-button {
    opacity: 1;
  }
  
.big-pic-button {
    background-color: var(--hover-background);
    color: var(--hover-text);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 16px 32px;
  }

.small-pic {
    padding: 45px 5px 5px 5px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    position: relative;
    width: 50%;
}

.small-pic img {
    max-height: 180px;
    padding: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.sm-button-1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.small-pic:hover .cape-cod {
    opacity: 0.3;
  }

.small-pic:hover .sm-button-1 {
    opacity: 1;
  }

#contact-me {
    display: flex;
    flex-direction: row;
}

#contact-me ul {
    list-style-type: none;
    width: 90%;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}

#contact-me ul li, #contact-me a {
    font-size: 22px;
    font-weight: bold;
    color: var(--heading-background);
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .topnav, #about-me, #my-work, #contact-me, #contact-me ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .content h2, #about-me img, .big-pic, .small-pic, #contact-me a {
        width: 100%;
        padding: 15px;
    }

    .header, #about-me, #about-me p, #my-work, #contact-me, #contact-me ul {
        text-align: center;
        width: 100%;
        padding: 15px;
    }
    .big-pic img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}